<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BMI Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark">
            <a class="navbar-brand" href="{{url_for('index')}}">Home Page</a>
        </nav>
    </div>
    <div class="container text-center title">
        <h1 class="display-3">BMI Calculator</h1>
        <p class="lead">This calculator uses height in inches and weight in pounds to calculate BMI. BMI can act as an indicator of a person's total body fat.</p>
    </div>
    <div class="container text-center result">
        <h3> {{message}} </h3>
        <h3> BMI classified as: {{category}}</h3>
    </div>
    <div class="container">
        <form action="{{url_for('bmipage')}}" method="POST">
            <div class="card">
                <div class="card-body">
                    <div class="form-group">
                        <label for="height" class="card-title">Height</label>
                        <input type="text" class="form-control card-text" id="height" name="height" placeholder="ex. 67 (5'7)">
                    </div>
                    <div class="form-group">
                        <label for="weight" class="card-title">Weight</label>
                        <input type="text" class="form-control card-text" id="weight" name="weight" placeholder="ex. 125">
                    </div>
                    <p class="text-danger"> {{error}} </p>
                    <button type="submit" class="btn btn-secondary" name="submit">Submit</button>
                </div>
            </div>
        </form> 
    </div>
</body>
</html>