<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resume</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <!--link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"-->
</head>
<body>
    <object data="{{ url_for('static', filename='Braedon_Kimball_Resume.pdf')}}" type="application/pdf" style="min-height:100vh;width:100%">
    </object>
</body>
</html>