<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <a id="top"></a>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark">
            <a class="navbar-brand" href="{{url_for('index')}}">Home Page</a>
        </nav>
    </div>

    <div class="port">
        <h2>IR-System, a procedural pdf generating webapp <br><br></h2>
        <h> ●Collaborated in a team of three to develop a web application that receives.csv files containing various student attributes such as ACT subscores and age, <br>    then generates a statistical report based on a database of prior students containing the same data.<br>
            ●Led the data collection and calculation (back end) portion of the project in both the design and implementation phases.<br>
            ●Utilized:Python 3.6x+, HTML 5, CSS, Object-Oriented Design, Data processing, Datamanipulation.<br></h>
        <div >
            <img class="irgif" src="static/irgif.gif" alt="IR System"/>
        </div>

    </div>

    <div class="easter-egg">
        <h2>More projects to come...</h2>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>

        <a href= "#top">

            If you're reading this, you've scrolled too far. Return to the top?
        </a>
    </div>
</body>
</html>