body{
    background-color: #333333;
}

.alert{
    width: 40%;
    text-align: center;
}

.card{
    width: 35%;
    margin: 0 auto;
    margin-bottom: 5%;
    float: none;
}
.title{
    color: #fff;
    margin: 3% auto;
    width: 60%;
}

.answer{
    padding-top: 5%;
    color: #fff;
}

.cover{
    padding-top: 10%;
    font-size: 700;
    color: #fff;
    text-align: center;
}

.cover-buttons{
    padding-top: 3%;
}

.btn-light:hover{
    transition: transform 150ms;
    transform: translateY(-5px);
}