body{
    background-color: 	#330303c9;
}

.result{
    width: 50%;
    color: #fff;
    padding-bottom: 2%;
}

.card{
    width: 35%;
    margin: 0 auto;
    margin-bottom: 5%;
    float: none;
}
.title{
    color: #fff;
    margin: 1% auto;
    width: 60%;
}

.answer{
    padding-top: 5%;
    color: #fff;
}

.cover{
    padding-top: 10%;
    size: 1500px;
    color: #fff;
    text-align: center;
}

.cover-buttons{
    padding-top: 1.5%;
}

.port{
    padding-top: 2%;
    padding-left: 18%;
    text-align: left;
    color: white;

}
.irgif{
    padding-top: 5%;
    padding-bottom: 5%;
    height: auto;
    width: 65%;
    
}
.btn-light:hover{
    transition: transform 150ms;
    transform: translateY(-5px);
}


@media (max-width: 950px) {
    .card{
        width: 60%;
    }
    .title{
        width: 70%;
    }
    .result{
        width: 60%;
    }    
}

@media (max-width: 775px) {
    .card{
        width: 75%;
    }
    .title{
        width: 70%;
    }
    .result{
        width: 70%;
    }  
}